@using HaritaSite.Models.Entity
@model IEnumerable<Drawing>
@{
    ViewData["Title"] = "ListDrawing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center">Çizimler</h1>
<table border="1" style="text-align:center;width:100%">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Coordinates</th>
        <th>CreateDate</th>
        <th>Statu</th>
    </tr>        
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Type</td>
            <td>@item.Coordinates</td>
            <td>@item.CreateDate</td>
            <td>@item.Statu</td>
        </tr>
    }
</table>
